* {
	font-family: sans-serif;
	margin: 0;
}

header {
	width: 100%;
	min-height: 60px;
	border: 0px solid;
	background-color: #1abc9c;
	padding: 25px;
}
.brand{
	width: 20%;
	height: 60px;
	min-height: 60px;
	border: 0px solid;
	font-weight: bold;
	color: #fff;

}

.section {
	width: 100%;
	min-height: 250px;
	border: 0px solid;
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-title{
	line-height: 50px;
	width: 15%;
	height: 50px;
	margin: 0px auto;
	text-align: center;
	border-bottom: 4px solid #1abc9c;
	font-weight: bold;
	margin-bottom: 25px;
}
#banner{
	background-color: grey;
	background-image: url("../img/img-1.JPG");
	background-size: cover;
	background-attachment: fixed;
}

.section-content{
	width: 80%;
	min-height: 200px;
	border: 0px solid;
	margin: 0px auto;
	padding: 25px;
	overflow: hidden;
}

.left{
	width: 45%;
	min-height: 100px;
	border: 0px solid;
	float: left;
	margin: 25px;
}
.right{
	width: 45%;
	min-height: 100px;
	border: 0px solid;
	float: left;
	margin: 25px;
}

.img-galeri{
	width: 150px;
	height: 150px;
	margin: 13px;
}
#portfolio{
	background-color: #f6f6f6;
}
.form-group{
	width:	100%;
	height: :80px;
	border: 0px solid;
	margin-bottom: 10px;
}
.form-group input[type="text"]{
	width: 100%
	height: 30px;
}
.form-group textarea{
	width: 100%;
	min-height: 200px;
}
.form-group .btn{
	padding: 14px 20px;
	background-color: #1abc9c;
	color: #fff;
	cursor:pointer;
	border-radius: 4px;
}
footer{
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #1abc9c;
	color:#fff;
}